# Ignore Docker-related files
.dockerignore
docker-compose.yml

# Ignore Django app related files
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.sqlite3
**/*.db

# Ignore PostgreSQL related files
**/pgdata

# Ignore version control system files
.git
.gitignore
